div.busy { 
  position:absolute;
  top: 45%;
  left: 47.5%;
  margin-top: -150px;
  margin-left: -50px;
  display:none;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
}